<div id="hp-bg" class="parallax"></div>
<h1 id="hp-h1">Sit back<br>and <span class="h1-span-1">Drink<span class="h1-span-1"></h1>

<main class="content-container">
  <div class="offset-content">
    <div class="bg-to-transp"></div>
    <div class="hp-content">
      <div class="cocktail-nav">
      <% if @cocktails %>
        <h2>Popular Cocktails</h2>
        <div class="cocktail-nav-horiz">
          <% @cocktails.each do |cocktail| %>
              <%= link_to cocktail_path(cocktail), class: "cocktail-card" do %>
                <h3><%= cocktail.name %></h3>
                <div class="cocktail-card-img" style="background-image: url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
                </div>
              <% end %>
            <% end %>
        </div>
      <% end %>
      </div>
      <div class="cocktail-nav">
      <% if @cocktails %>
        <h2>Top Gin Cocktails</h2>
        <div class="cocktail-nav-horiz">
          <% @cocktails.each do |cocktail| %>
              <%= link_to cocktail_path(cocktail), class: "cocktail-card" do %>
                <h3><%= cocktail.name %></h3>
                <div class="cocktail-card-img" style="background-image: url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
                </div>
              <% end %>
            <% end %>
        </div>
      <% end %>
      </div>
      <div class="cocktail-nav">
      <% if @cocktails %>
        <h2>Top Vodka Cocktails</h2>
        <div class="cocktail-nav-horiz">
          <% @cocktails.each do |cocktail| %>
              <%= link_to cocktail_path(cocktail), class: "cocktail-card" do %>
                <h3><%= cocktail.name %></h3>
                <div class="cocktail-card-img" style="background-image: url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
                </div>
              <% end %>
            <% end %>
        </div>
      <% end %>
      </div>
      <div class="cocktail-nav">
      <% if @cocktails %>
        <h2>Top Whiskey Cocktails</h2>
        <div class="cocktail-nav-horiz">
          <% @cocktails.each do |cocktail| %>
              <%= link_to cocktail_path(cocktail), class: "cocktail-card" do %>
                <h3><%= cocktail.name %></h3>
                <div class="cocktail-card-img" style="background-image: url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
                </div>
              <% end %>
            <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</main>
