<h1>Cocktail: <%= @cocktail.name %></h1>
<ul>
  <% @doses.each do |dose| %>
  <li><p><%= dose.id %> | <%= dose.ingredient.name %> - <%= dose.description %></p> <%= link_to "Delete", dose_path(dose), class: "btn btn-danger btn-sx",
  method: :delete,
  data: { confirm: "Sure?" } %></li>
  <% end %>
</ul>
<hr>
<%= link_to "Edit", edit_cocktail_path(@cocktail), class: "btn btn-primary" %>
<%= link_to "Delete", cocktail_path(@cocktail), class: "btn btn-danger",
  method: :delete,
  data: { confirm: "Sure you want to delete?" }
 %>

<hr>
<h5>Add a dose</h5>
<%= render './doses/new' %>
